@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
//   max-width: 700px;
  width: 100%;
  margin: auto;
}

  .container-image {
    width: 100%;
    height: auto;
    margin: 10px 0;
    max-width: 700px;
  }
  
  .full-image {
    height: auto;
    @media screen and (max-width: 1000px) {
        max-width: 100%; 
    }
    @media screen and (min-width: 1000px) {
        max-width: 1000px;
    }
  }
  
  .description-text {
    
    max-width: 700px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    margin: 10px;
  }  
