<div class="jumbotron">
  <div class="container">
    <h1>
      Search
      <small class="text-muted">
        the <a href = "https://kg.humanbrainproject.org/">knowledge graph (KG)</a> for datasets. 
      </small>
    </h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <p>
      The interactive viewer is natively setup to query KG for any datasets related to specific parcellation area(s).
      <!-- TODO add coming soon spatial search -->
    </p>
  </div>

  <hr>

  <!-- single area search -->
  <div class="row">
    <div class="d-flex">
      <!-- text -->
      <div class="text-container">
        <h2>Single area search</h2>
        <p>
          To conduct a single area search, right click on any parcellation area. In the context menu, select
          <mark>Search KG for ...</mark>
          and a data browser window will be launched, fetching the dataset associated with this area.
        </p>
      </div>
      <!-- screenshot 1 -->
      <div class="image-container">
        <img src="../../assets/searchKg/rightclick.png" alt="Screenshot of right clicking the parcellation region of Area hOc1 of JuBrain in MNI Colin 27.">
      </div>

      <div class="image-container ml-1">
        <img src="../../assets/searchKg/databrowser.png" alt="Screenshot of the databrowser, showing datasets fetched for Area hOc1 of JuBrain in MNI Colin 27">
      </div>
    </div>
  </div>

  <hr>

  <!-- multi area search -->
  <div class="row">
    <div class="d-flex">

      <!-- text -->
      <div class="text-container">
        <h2>Multi area search</h2>
        <p>
          To conduct a multi area search, double click as many areas as the search scope is desired. When the region selection is completed, right click the viewer and select 
          <mark>Search KG for ... selected regions</mark>, 
          similar to single area search, a data browser will be launched, fetching the dataset associated with all of the areas selected.
        </p>
      </div>

      <!-- screenshot 1 -->
    <div class="image-container">
      <img src="../../assets/searchKg/multiregionSelect.png" alt="TODO alt text">
    </div>
    <!-- screenshot 2 -->
    <div class="image-container ml-1">
      <img src="../../assets/searchKg/multiregionQuery.png" alt="TODO alt text">
    </div>

    </div>
  </div>
</div>