<div class="header-component" >

</div>
<div class="main-container">

  <mat-card class="card" (click) ="navigateTo('navigation')">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Navigation</mat-card-title>
    </mat-card-header>
    <img mat-card-image class="card-image" src="../../assets/pictures/compass.svg">
    <mat-card-content>
      <p>
        Navigation in atlas viewer is to etc. etc. etc. etc. etc. etc. etc. etc. 
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card" (click) ="navigateTo('search')">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Searching</mat-card-title>
    </mat-card-header>
    <img mat-card-image class="card-image" src="../../assets/pictures/cloud-computing.svg">
    <mat-card-content>
      <p>
        Navigation in atlas viewer is to etc. etc. etc. etc. etc. etc. etc. etc. 
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card" (click) ="navigateTo('api')">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>API</mat-card-title>
    </mat-card-header>
    <img mat-card-image class="card-image" src="../../assets/pictures/api.svg">
    <mat-card-content>
      <p>
        Navigation in atlas viewer is to etc. etc. etc. etc. etc. etc. etc. etc. 
      </p>
    </mat-card-content>
  </mat-card>
</div>